.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 50px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Montserrat';
}

@media screen and (max-width: 990px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}



