.hero {
    height: 100vh;
    background-image: url(../img/slider1.png);
    background-repeat: no-repeat;

    .hero__main {
        display: flex;
        justify-content: center;
        text-align: center;


        .hero__text {
            color: #fff;
            margin-top: 20%;


            h2 {
                font-family: 'Montserrat', cursive;
                font-size: 6rem;
                line-height: 1;
                margin-top: 5px;
                letter-spacing: 5px;
            }

            h3 {
                font-family: 'Montserrat', cursive;
                font-size: 1.5rem;
                margin-top: 10px;
                font-weight: 400;
                letter-spacing: 2px;
            }

            h4 {
                text-align: center;
                font-family: 'Bebas Neue', cursive;
                font-weight: 300;
                font-size: 1.5rem;
                margin: 0px;
                letter-spacing: 3px;
            }
        }
    }
}